[submodule "extern/mingus"]
	path = extern/mingus
	url = https://github.com/pft/mingus.git
[submodule "extern/proofgeneral"]
	path = extern/proofgeneral
	url = https://github.com/emacsattic/proofgeneral
